%h1 
  Search Results for
  = params['q'] 

%table
  %tr
    %th Facility
    %th Location
    %th Chemical

    - @results['results'].each do |result|
      %tr
        %td= link_to result['facility_name'], spill_path(result['id'])
        %td= "#{result['city']}, #{result['state']}"
        %td= result['chemical']

%p
