%h1 Listing spills

%p
  %form{ :action => '/search', :method => 'get'}
    %label{ :for => 'q'} Search:
    %input{ :type => 'text', :id => 'q', :name => 'q' }
    %input{ :type => 'submit', :value => 'Search'}

%table
  %tr
    %th Facility
    %th Location
    %th Chemical

  - @spills.each do |spill|
    %tr
      %td= link_to spill['Facility Name'], spill
      %td= "#{spill['City']}, #{spill['ST']}"
      %td= spill['Chemical']

%p
  = will_paginate @spills
  