%table
  %tr
    %th Facility
    %th Location
    %th Chemical

  - @spills.each do |spill|
    %tr
      %td= link_to spill['Facility Name'], spill
      %td= "#{spill['City']}, #{spill['ST']}"
      %td= spill['Chemical']

%p
  = will_paginate @spills
  