%h1 Spill Details

%h2= @spill['Facility Name']

%p
  Spilled
  =@spill['On-site Release Total']
  =@spill['Unit of Measure']
  of
  =@spill['Chemical']

%address
  =@spill['Street Address']
  %br
  ="#{@spill['City']}, #{@spill['ST']} #{@spill['ZIP']}"

%p
  = link_to 'Back', root_path
